<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTUTaxFree</key>
	<dict>
		<key>AUTH_URL</key>
		<string>https://api-auth.utuglobal.net</string>
		<key>CMS_URL</key>
		<string>https://api-cms.utuglobal.net</string>
		<key>ISOCODE_URL</key>
		<string>https://api-isocode.utuglobal.net</string>
		<key>PROMOTION_URL</key>
		<string>https://api-promotion.utuglobal.net</string>
		<key>MEMBER_URL</key>
		<string>https://api-member.utuglobal.net</string>
		<key>MEMBER_BALANCE_URL</key>
		<string>https://api-memberbalance.utuglobal.net</string>
		<key>NOTIFICATIONS_URL</key>
		<string>https://api-notification.utuglobal.net</string>
		<key>PLUS_URL</key>
		<string>https://api-wallet.utuglobal.net</string>
		<key>VOUCHER_URL</key>
		<string>https://api-voucher.utuglobal.net</string>
		<key>oneSignalAppId</key>
		<string>93bd99cd-9ded-4d9c-8042-eebc6768e85c</string>
		<key>GetAllLanguageStrings</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries/TLtSgNUTwvdMRWfTfj6lY?access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;locale=en-US</string>
		<key>DashboarHightLightUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=highlight&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardHowItWorksUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=howItWorks&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DirectInvoiceOfficeListUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=location&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardCMSUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.id=%@&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreMerchantUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=merchant&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreCountryDetailUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=posts&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5&amp;locale=en-US</string>
	</dict>
	<key>UTUTaxFreeStage</key>
	<dict>
		<key>AUTH_URL</key>
		<string>https://api-auth.stage-utuglobal.net</string>
		<key>CMS_URL</key>
		<string>https://api-cms.stage-utuglobal.net</string>
		<key>ISOCODE_URL</key>
		<string>https://api-isocode.stage-utuglobal.net</string>
		<key>PROMOTION_URL</key>
		<string>https://api-promotion.stage-utuglobal.net</string>
		<key>MEMBER_URL</key>
		<string>https://api-member.stage-utuglobal.net</string>
		<key>MEMBER_BALANCE_URL</key>
		<string>https://api-memberbalance.stage-utuglobal.net</string>
		<key>NOTIFICATIONS_URL</key>
		<string>https://api-notification.stage-utuglobal.net</string>
		<key>PLUS_URL</key>
		<string>https://api-wallet.stage-utuglobal.net</string>
		<key>VOUCHER_URL</key>
		<string>https://api-voucher.stage-utuglobal.net</string>
		<key>oneSignalAppId</key>
		<string>79d854ca-3069-4d34-a890-70cbe8325a8d</string>
		<key>GetAllLanguageStrings</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries/TLtSgNUTwvdMRWfTfj6lY?access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;locale=en-US</string>
		<key>DashboarHightLightUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=highlight&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardHowItWorksUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=howItWorks&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DirectInvoiceOfficeListUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=location&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardCMSUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.id=%@&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreMerchantUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=merchant&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreCountryDetailUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=posts&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5&amp;locale=en-US</string>
	</dict>
	<key>UTUTaxFreeTest</key>
	<dict>
		<key>AUTH_URL</key>
		<string>https://utuapi-auth-test.azurewebsites.net</string>
		<key>CMS_URL</key>
		<string>https://utuapi-cms-test.azurewebsites.net</string>
		<key>ISOCODE_URL</key>
		<string>https://utuapi-isocode-test.azurewebsites.net</string>
		<key>PROMOTION_URL</key>
		<string>https://utuapi-promotion-test.azurewebsites.net</string>
		<key>MEMBER_URL</key>
		<string>https://utuapi-member-test.azurewebsites.net</string>
		<key>MEMBER_BALANCE_URL</key>
		<string>https://utuapi-memberbalance-test.azurewebsites.net</string>
		<key>NOTIFICATIONS_URL</key>
		<string>https://utuapi-notification-test.azurewebsites.net</string>
		<key>PLUS_URL</key>
		<string>https://utuapi-utuplus-wallet-test.azurewebsites.net</string>
		<key>VOUCHER_URL</key>
		<string>https://utuapi-voucher-test.azurewebsites.net</string>
		<key>oneSignalAppId</key>
		<string>79d854ca-3069-4d34-a890-70cbe8325a8d</string>
		<key>GetAllLanguageStrings</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries/TLtSgNUTwvdMRWfTfj6lY?access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;locale=en-US</string>
		<key>DashboarHightLightUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=highlight&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardHowItWorksUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=howItWorks&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DirectInvoiceOfficeListUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=location&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c</string>
		<key>DashboardCMSUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.id=%@&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreMerchantUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=merchant&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5</string>
		<key>ExploreCountryDetailUrl</key>
		<string>https://cdn.contentful.com/spaces/u0ol5so5qhwk/environments/master/entries?sys.contentType.sys.id=posts&amp;access_token=OLsleutsb2eiV4BCNAuk5IuuXZWA_R6Wdmtua6prg1c&amp;include=5&amp;locale=en-US</string>
	</dict>
	<key>AUTH_URL</key>
	<dict>
		<key>forgotPassword</key>
		<string>mobile/passwordresetrequest</string>
		<key>login</key>
		<string>auth/credentials</string>
		<key>deleteMember</key>
		<string>mobile/memberdeletecommand</string>
		<key>changePassword</key>
		<string>changepassword</string>
		<key>refreshToken</key>
		<string>access-token</string>
	</dict>
	<key>MEMBER_URL</key>
	<dict>
		<key>memberQuery</key>
		<string>mobile/memberquery?MemberId=</string>
		<key>otpRequest</key>
		<string>mobile/otprequestcommand</string>
		<key>signup</key>
		<string>signupcommand</string>
		<key>updateProfile</key>
		<string>mobile/memberupdateprofilecommand</string>
		<key>otpForMobileChange</key>
		<string>mobile/otprequestforchangemobilecommand</string>
		<key>memberChangeMobileUpdate</key>
		<string>mobile/memberchangemobilecommand</string>
		<key>updateEmailCommand</key>
		<string>mobile/memberchangeemailcommand</string>
		<key>imageUpload</key>
		<string>mobile/memberuploadpicturecommand</string>
		<key>checkMemberID</key>
		<string>memberregistrationcheckquery?MemberId=</string>
		<key>signupUTUID</key>
		<string>mobile/signupasenrolledmembercommand</string>
		<key>addCard</key>
		<string>mobile/memberaddcreditcardcommand</string>
		<key>getCards</key>
		<string>mobile/memberpaymentmethodsquery</string>
		<key>setDefaultCard</key>
		<string>mobile/membersetdefaultpaymentmethodcommand</string>
		<key>deleteCard</key>
		<string>mobile/memberdeletepaymentmethodcommand</string>
		<key>verifyUTUID</key>
		<string>mobile/enrolledmemberquery?MemberId=%@&amp;DateOfBirth=%@&amp;Pin=%@</string>
		<key>resendSigupViaUDID</key>
		<string>mobile/memberresetpincommand</string>
		<key>deleteMember</key>
		<string>mobile/memberdeletecommand</string>
		<key>savePassport</key>
		<string>mobile/membersetdocumentinfocommand</string>
		<key>plusCardStatus</key>
		<string>mobile/AccountsBalanceQuery</string>
	</dict>
	<key>ISOCODE_URL</key>
	<dict>
		<key>getCountries</key>
		<string>mobile/countryquery</string>
	</dict>
	<key>NOTIFICATIONS_URL</key>
	<dict>
		<key>subscription</key>
		<string>mobile/membersubscriptionsquery</string>
		<key>updateSubscription</key>
		<string>mobile/membernotificationsubscriptionscommand</string>
		<key>getAllNotifications</key>
		<string>mobile/memberinboxesquery</string>
		<key>getAllUnreadNotifications</key>
		<string>mobile/unreadmemberinboxesquery</string>
		<key>deleteNotification</key>
		<string>mobile/deletememberinbox</string>
		<key>registerNotification</key>
		<string>mobile/registermembernotificationhandle</string>
	</dict>
	<key>MEMBER_BALANCE_URL</key>
	<dict>
		<key>plusCardStatus</key>
		<string>mobile/AccountsBalanceQuery</string>
		<key>getBalance</key>
		<string>mobile/getbalance</string>
		<key>getAllActivities</key>
		<string>mobile/getaccountstatements</string>
		<key>getRefundTransactions</key>
		<string>mobile/membertransactionsquery?MemberId=%@</string>
	</dict>
	<key>PLUS_URL</key>
	<dict>
		<key>plusCardStatus</key>
		<string>mobile/AccountsBalanceQuery</string>
		<key>plusCardActivate</key>
		<string>mobile/v2/CreateAccountBalanceCommand</string>
	</dict>
	<key>VOUCHER_URL</key>
	<dict>
		<key>getEvouchers</key>
		<string>mobile/vouchersquery</string>
		<key>getAllVouchers</key>
		<string>mobile/vouchersquery?MemberId=%@&amp;IncludeAllStatuses=true&amp;IsBackoffice=false</string>
	</dict>
	<key>CMS_URL</key>
	<dict>
		<key>getAllLanguages</key>
		<string>languagesquery</string>
	</dict>
	<key>PROMOTION_URL</key>
	<dict>
		<key>verifypromo</key>
		<string>Mobile/VerifyPromotionCodeCommand</string>
		<key>activationpromo</key>
		<string>Mobile/SetMemberPromotionCodeCommand</string>
	</dict>
</dict>
</plist>
